/*Currently, the <li> items are block level elements. Add correct styles to remove the bullets and display them as inline elements.*/

ul li {
	list-style-type: none;
	display: inline;
}




/*In the article element with the class n-child, add a 1 pixel border around every even numbered section element.*/

article section:nth-child(2n+0) {
	border: 1px solid green;
}




/*The three <span> elements should be displayed as block elements with a 1 pixel border and 25 pixel margin on all sides.*/

span {
	display: block;
	border: 1px solid red;
	margin: 25px;
}















